---
layout: default
---

<div class="home">

  <h1 class="page-heading">Liquid Documentation</h1>

  <nav class="nav-menu">
    <dl>
      {% for nav in site.data.navs %}
        <dt> {{ nav.title }} </dt>
        {% for subcategory in nav.subcategory %}
          <dd>
            <a href="{{subcategory.href}}">{{subcategory.name}}</a>
          </dd>
        {% endfor %}
      {% endfor %}
    </dl>
  </nav>
  <div class="content-wrapper">
    <h1>Welcome to yoolk's developer documentation guide.</h1>
  </div>


  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
