/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: $logo-color;
    font-weight: bold;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.arrow_box {
  position: relative;
}
.arrow_box:after, .arrow_box:before {
  display: block;
  left: 100%;
  top: 50%;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  margin-top: -50px;
}
.arrow_box:before {
  border-left: 30px solid #ddd;
  margin-left: 6px;
  z-index: 1;
}

.arrow_box:after {
  border-left: 30px solid white;
  margin-left: 5px;
  z-index: 2;
}

.breadscrumb {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  border: 1px solid #F7F7F7;
  padding: 5px 42px;
  a {
    text-decoration: none;
    color: #F0BC1B;
    font-size: 14px;
    &:hover{
      color: #D3A000;
    }
  }
  span {
    margin-left: 53px;
    font-size: 14px;
  }
}

.site-logo {
  float: left;
  margin-right: 5px;
}

.container {
  max-width: 1020px;
  height: auto;
  margin: 0 auto;
}
.nav-menu {
  width: 19.1175%;
  display: inline-block;
}
.nav-menu dl {
  border-right: 1px solid #EBEBEB;

  dt:not(.active) {
    margin-left: 10px;
  }
  dd {
    margin-left: 15px;
    a { color: #333; }
    border-left: 1px solid #ccc;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li:hover {
        border-left: 2px solid orange;
      }
    }
  }
  a {
    font-size: 14px;
    display: block;
    padding: 8px;
    color: #E7B30F;
    text-decoration: none;
    transition: 0.05s;
    &:hover:not(.active) {
      background-color: #FFF0C5;
    }
  }
}

.active {
  color: #fff !important;
  background-color: #FFCC33;
}
.content {
  width: 71%;
  margin: 0 2.9411%;
  display: inline-block;
  float: right;
}
footer {
  clear: both;
}
header {
  background: #FFCC33;
  box-shadow: 1px 1px 1px $grey-color-light;
  position: fixed;
  width: 100%;
  top: 0;
  height: 56px;
  z-index: 23;
}
.main-wrapper {
  margin-top: 96px;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 16px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
