---
layout: default
---
<nav class="nav-menu">
  <dl>
    <dt class="nav-first-child">Liquid Documentation</dt>
    {% for nav in site.data.navs %}
      {% assign nav_title = nav.title | downcase | prepend: '/' %}
      <dt {% if page.dir contains nav_title %} {{'class="active"'}} {% endif %}> <a href="{{ nav_title }}">{{ nav.title }} </a> </dt>
      {% if page.dir contains nav_title %}
        <dd>
          <ul class="subnav">
            <li class="subnav-item">
              <a class="{% if page.dir == nav_title %}{{'sub-active'}}{% endif %}" href="{{ nav_title }}">Introduction</a>
            </li>
            {% for subcategory in nav.subcategory %}
              <li class="subnav-item">
                <a class="{% if page.dir contains subcategory.href %}{{'sub-active'}}{% endif %}" href="{{subcategory.href | prepend: site.baseurl | prepend: nav_title }}">{{subcategory.name}}</a>
              </li>
            {% endfor %}
          </ul>
        </dd>
      {% endif %}
    {% endfor %}
  </dl>
</nav>
<section class="content">
  {% assign full_path = page.dir | remove_first: "/" %}
  {% assign paths =  full_path | split: '/' %}
  <p class="breadscrumb">
    <a href="/" class="arrow_box">Home</a>
    {% for path in paths %}
      {% if forloop.last == true %}
        <span>{{ path }}</span>
      {% else %}
        <a href="/{{ path }}" class="arrow_box">{{ path }}</a>
      {% endif %}
    {% endfor %}
  </p>
  {{ content }}
</section>